<html>
<head>
    <style>
        body {
            background-image: url(https://designpickle-resources.s3.us-east-2.amazonaws.com/2020/Zoom+Backgrounds/April/20_DesignPickle_Zoom_Background-1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            font-family: Helvetica Neue !important;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.428571429;
            text-align:justify;
        }
    </style>
    <meta charset="utf-8" />
    <title></title>
</head>

<body >
    <FONT COLOR="green">
      
    <h2>
        {{text}}
    </h2>

</body>
</html>